div.post-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
div.post-header>span.date {
    font-style: italic;
    color: olive;
}

div.language-plaintext {
    padding-left: 2em;
    background-color: ivory;
}

p {
    text-align: justify;
}
p code {
    border-radius: 2px;
    background-color: lightgray;
    padding: 1px 2px;
}

span.gallery {
    display: flex;
    text-align: center;
    font-style: italic;
    font-size: small;
}
span.float-left {
    width: 20%;
    float: left;
    flex-direction: column;
    margin: 0 4px 4px 0;
    text-align: left;
}
span.float-right {
    width: 20%;
    float: right;
    flex-direction: column;
    margin: 0 0 4px 4px;
    text-align: center;
}
span.gallery-wrapper {
    flex: 100%;
    margin: 2px;
}
span.gallery-wrapper>img {
    width: 100%;
}

hr {
    clear: both;
}

@media screen and (max-width: 800px) {
    span.gallery {
        flex-direction: column;
    }
    span.float-left, span.float-right {
        width: 100%;
        float: none;
        margin: 0 0 4px 0;
        text-align: center;
    }
}
