<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=BIG5"/>
<meta charset="Big5"/>
<title>測試頁</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- jQuery UI resources
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script-->

<!-- jQuery Mobile resources
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.0/jquery.mobile.min.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.0/jquery.mobile.min.js"></script-->

<!-- Default target for page links
<base href="http://ttzeng.myweb.hinet.net" target="_blank"/-->
<link rel="stylesheet" type="text/css" href="/css/default.css"/>
<script src="/js/supports.js"></script>

<script type="text/javascript">
$(function() {
});
</script>
</head>
<body class="notebook">
</body>
</html>