*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.JPG filter=lfs diff=lfs merge=lfs -text

# unset LFS filters on img/ folder which contains basic web assets
img/*.* -filter=lfs -diff=lfs -merge=lfs -text
