# 'Finder.' generated Desktop Services Store artifacts on macOS
.DS_Store

# Platforms added by Capacitor
/android
/ios

# NPM / project build artifacts
node_modules/
package-lock.json
/www

# Editor directories and files
.idea/
.vscode/
*.map
.sourcemaps
