---
---
<!DOCTYPE html>
<html>
    {% include jqm/head.html %}
<body>
    <div data-role="page">
        <div data-role="header">
            <!-- Secify 'ui-title' class explicitly for headers with no heading but buttons -->
            <span class="ui-title"></span>
            <!-- Leverage jQuery Mobile's core features to load and view content from disparate
                 pages into the initial document with support for standard navigation methods
                 like anchors and the back button. -->
            <div data-role="controlgroup" data-type="horizontal" class="ui-btn-left">
                <a data-rel="back" class="ui-btn ui-btn-icon-notext ui-icon-back">Back</a>
                {% if page.previous %}
                <a data-ajax="false" class="ui-btn ui-btn-icon-notext ui-icon-carat-l" href="{{ page.previous.url }}">Previous</a>
                {% endif %}
                <a data-ajax="false" class="ui-btn ui-btn-icon-notext ui-icon-home" href="/">Home</a>
                {% if page.next %}
                <a data-ajax="false" class="ui-btn ui-btn-icon-notext ui-icon-carat-r" href="{{ page.next.url }}">Next</a>
                {% endif %}
            </div>
        </div>
        <div role="main" class="ui-content">
            {{ content }}
        </div>
    </div>
</body>
</html>
